/* Videó konténer */
.containerf .video-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px;
    background-color: #2b2b2b; /* Sötétszürke háttér a videó körül */
    border: 5px solid #d4af37; /* Arany szegély */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-align: center;
    position: relative; /* Ahhoz, hogy a gomb és a visszaszámláló jól működjön */
}

/* Videó */
.containerf .video-container .main-vid video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Visszaszámláló konténer - külön div, a videó fölé */
#countdown-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* Visszaszámláló szöveg */
#countdown {
    font-size: 48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

/* Mute gomb */
#muteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

#muteButton:hover {
    background-color: #777;
}

/* Responszív dizájn */
@media (max-width: 768px) {
    #countdown {
        font-size: 24px;
        padding: 5px 10px;
    }

    .containerf .video-container .main-vid video {
        width: 100%;
    }
}

@keyframes scroll{
    0%{
      transform: translateX()
    }
    100%{
      transform: translateX(-50%);
    }
  }
  .slider {
    height: 70%;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 95%;
  }
  
  .slider .slide-track {
    animation: scroll 25s linear infinite;
    display: flex;
    width: auto;
    gap: 30px;
  }
  
  .slider .slide {
    height: auto;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 410px) {
    .slider{
      width: 300px;
      height: 50%;
    }
  }