@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in,
.slide-in-left,
.slide-in-right {
    opacity: 0;
    visibility: hidden;
}

.fade-in.visible {
    animation: fadeIn 1s ease-in-out forwards;
}

.slide-in-left.visible {
    animation: slideInFromLeft 1s ease-in-out forwards;
}

.slide-in-right.visible {
    animation: slideInFromRight 1s ease-in-out forwards;
}

/* Az eddigi CSS stílusok itt vannak */

body {
    background-color: #202930;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

main {
    flex-grow: 1;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.poppins-regular {
    font-family: "Poppins", sans-serif!important;
    font-weight: 400;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.navbar-header {
    float: left;
    padding-right: 10px;
}

.navbar-toggler {
    color: #D4AA51!important;
    border: none;
    background-color: #202930;
    --bs-navbar-toggler-focus-width: 0.2rem;
}

.nav-link {
    color: #D4AA51;
}
.social-links .nav-link {
    color: #D4AA51;
    font-size: 1.5rem;
    padding: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links .nav-link:hover {
    transform: translateY(-5px);
    color: #ffffff;
}

.nav-link:hover {
    transform: translateY(-5px);
    color: white;
}


a {
    text-decoration: none;
    color: #D4AA51;
}

a:hover {
    text-decoration: none;
    color: white;
}
.brand-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1000;
    transition: all 1s ease;
}
.brand-container.fade-out {
    opacity: 0;
    visibility: hidden;
}
.brand-logo{
    width: 200px;
}
.brand {
    font-size: 20px;
}
header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 0 20px;
    position: relative;
}

.header-logo-container {
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}

.header-logo {
    width: 40px;
}

.brand-name {
    font-size: 30px;
    text-align: center;
}

.ures {
    height: 50px;
    display: flex;
    width: 100%;
    background-color: #D4AA51;
    opacity: 0.6;
}

h1 {
    font-family: unset;
}

.videok img, .video-dropdown img {
    max-height: 130px;
    margin: 0;
}

.video-dropdown {
    background-color: #D4AA51;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* style.css */

.row{
    text-align: center;
}

/* Logo és cím áthelyezése */
.logo-transition {
    font-size: 20px;
    transition: font-size 0.5s ease-in-out;
}

.logo-transition.navbar-header {
    font-size: 30px;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-collapse {
    flex-grow: 0;
}

.content {
    padding: 20px;


}

/* Az oldal többi része */

body * {
    
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #333;
}

.navbar-header {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.navbar-toggler {
    color: white;
}

.nav-link {
    color: white;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Countdown stílusok */
#countdown {
    font-size: 2em;
    color: #333;
    margin-top: 20px;
}

/* Az oldal többi része */

.navbar {
    background-color: #333;
    z-index: 1100;
}

.gradient-background {
    background: linear-gradient(#D4AA51, 5%, #202930);
  }
  
p.header {
    font-size: 1.8rem;
}

@media(max-width: 410px) {
    p.header {
        font-size: 1.3rem;
        text-align: left;
    }
}

/*Tik Tok vidik CSS-je*/
.tiktok-container {
    transition: transform 0.3s ease;
    transition: border-radius 1.5s ease;
}

.tiktok-container:hover {
    transform: translateY(-10px);
    border-radius: 40% 20% 40% 20%;
    background-color: #D4AA51;
}

.tiktok-head {
    background-color:  #202930;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.tiktok-h-container {
    border: 0.5rem outset  #D4AA51;
    border-radius: 12px;
    background-color: #202930;
    padding: 10px;
    transition: transform 0.3s;
}


.left, .right {
    background: linear-gradient(#202930, 20%, #D4AA51, 80%, #202930);
    color: white;
    border-radius: 20% 40% 20% 40%;
}

.mid:hover {
    background: linear-gradient(#202930, 20%, #D4AA51, 80%, #202930);
}

.mid {
    background-color: transparent;
    border-radius: 20% 40% 20% 40%;
    transition: background-color 1s ease, border-radius 1.5s ease; 
}

.sor {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    text-align: center;
    padding: 20px;
}

.image-cont {
    margin-bottom: 40px;
}

.reference-img {
    border-radius: 7%;
    transition: transform 0.3s;
    border: solid #D4AA51;
}

.reference-img:hover {
    transform: scale(1.25);
}

.tiktok-linkek {
    box-sizing: content-box;
    color: #202930;
    width: 40%;
    font-family: poppins;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 30px;
    border: solid 2px #202930;
    background: transparent;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.tiktok-linkek:hover {
    background-color: #202930;
    color: white;
}